﻿<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="./../webapp/appjs/clusterController.js"></script>
</head>
<body>
    <h2>enter the content link</h2>
    <div ng-controller="clusterController">
        <h2>Displaying the 1 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters1">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 2 clusters</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters2">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 3 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters3">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 4 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters4">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 5 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters5">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 6 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters6">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 7 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters7">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 8 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters8">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 9 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters9">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>


    </div>
    <div ng-controller="clusterController">
        <h2>Displaying the 10 cluster</h2>
        <ul class="unstyled">
            <li ng-repeat="cluster in clusters10">
                <span>{{cluster.articleUrl}}</span>
                <img src="{{cluster.image}}"><img>
            </li>
        </ul>
    </div>
</body>
</html>
