﻿<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="./../webapp/appjs/myresumeletsController.js"></script>
    <link rel="stylesheet" href="./css/resumelets.css">
</head>
<body>
    <h2>My dashboard</h2>
    <a onclick="alert('To install the record button!');return false;" href="javascript:void((function(d){var%20e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://localhost:3000/content.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));" class="button">record learning</a>
    <div ng-controller="myresumeletsController">
        <h3>Search the saved content based on keywords</h3>
        <input id="search" name="search" type="textbox" onchange="searchValueChanged()"></input>
        <li ng-repeat="comment in comments">
            <span>{{comment.comment}}</span>
        </li>
        <span>{{remaining()}} of {{resumelets.length}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> ]
            <ul class="unstyled">
                <li ng-repeat="resumelet in resumelets">
                    <table border="1">
                        <tr>
                             <td>
                                <img width="500" height="500" src="{{resumelet.img}}">
                            </td>
                             <td>User annotation score : {{resumelet.scoreArticle}}</td>
                            <td>Score is ({{resumelet.evaluatedScore}})</td>
                            <td>{{resumelet.hash}}</td>
                            <td>{{resumelet.url}}</td>
                           
                            <td>{{resumelet.chi}}</td>
                            <td>
                                <input type="text" id='{{resumelet.hash}}' name='{{resumelet.hash}}' placeholder="add comment" /></td>
                            <td>
                                <button id="add" onclick="addComment('{{resumelet.url}}', '{{resumelet.hash}}');" value="add">add</button></td>
                            <td>
                                <button id="showComments" onclick="showComments('{{resumelet.hash}}');" value="showComments">show comments</button></td>

                        </tr>
                    </table>
                </li>
            </ul>
        <form ng-submit="addResumelet()">
            <input type="text" ng-model="resumeletText" size="30" placeholder="add new resumelet here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
</body>
</html>
