<!doctype html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
<script src="./../webapp/appjs/recommendationController.js"></script>
</head>
<body>
<h2>enter the content link</h2>
<div ng-controller="recommendationController">
<h3>Enter a URL to get the recommendation around the url</h3>
<input id='url' name='url' type='textbox' ></input>
<button id='submitrequest' OnClick='onClick();' value='submit'>Enter the Url to get recommendations</button>
<ul class="unstyled">
<li ng-repeat="resumelet in resumelets">
<span>{{resumelet.url}}</span>
<img src="{{resumelet.img}}"><img>
<span>{{resumelet.chi}}</span>
</li>
</ul>
</div>
</body>
</html>
